server:
  ports: 8080
  shutdown: graceful


logging:
  level:
    root: INFO

spring:
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://localhost:5332/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
